@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, 
#root {
  height: 100vh;
  margin: 0;
}

body, 
input, 
select, 
textarea,
button {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover{
  color: #8fa79e;
}

header {
  grid-area: header;
  background-color: #8fa79e;
  color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
}

header.welcome,
header i {
  color: #f5f5f5;
  text-decoration: none;
  display: flex;

}
.welcome {
  margin-left: 1.5rem;
}
.header-right {
  text-align: right;
  float: right;
  margin-right: 1.5rem;
}
.welcome:hover,
.fas:hover {
  color: #f2c729;
  cursor: pointer;
}
.header
.fas {
  color: #f5f5f5;
}
main {
  grid-area: main;
} 
footer {
  grid-area: footer;
  background-color: #8fa79e;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0px;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

.image-section {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

/* products */
ul.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  list-style-type: none;
}

.products li {
  flex: 1 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.product img {
  /* align-items: center; */
  max-width: 37rem;
  max-height: 37rem;
}

.product p {
  text-align: center;
}

.product-price {
  display: flex;
  justify-content: center;
  align-items: left;
  width: 80%;
}

.product-price div,
.product-price button {
  /* text-align: left; */
  flex: 1;
  max-width: 50%;
}

.product-price div {
  font-size: 4rem;
}

.product-price p {
  margin-right: 20px;
}

.button {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-top: 5px;
}
.button:hover {
  border: 0.1rem #888888 solid;
}

.button.primary {
  background-color: #f2c729;
  border-radius: 8px;
  font-size: 1.4rem;
}

.product-price button {
  max-width: 33%;
  margin-bottom: 5px;
}

/*about */
.about-section {
  padding: 3rem;
  /* justify-content: center;
  text-align: center; */
}

.about {
  padding-bottom: 10px;
}

.about p {
  padding-left: 30px;
  padding-right: 30px;
}

.about h3 {
  color: #8fa79e;
}

#xo {
  text-align: right;
  padding-top: 10px;
}
.ways-to-donate {
  text-align: center;
  margin-top: 30px;
  color: #8fa79e;
  font-weight: bold;
}

.ways-to-donate a {
  color: #f2c729;
}

/* cart */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header{
  border-bottom: 0.1rem #8fa79e solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right{
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.total div {
  font-size: 2rem;
}

.total div,
.total button {
  flex: 1;
}

/* Checkout form */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
}

/* Product Details */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

.product-modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background: white;
  overflow: auto;
  outline: none;
  padding: 20px;
  margin: auto;
  max-width: 60%;
  height: 40rem;

}

/* Checkout Modal */
.checkout-modal {
  padding: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.home-modal-wrapper,
.checkout-modal-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background: white;
  overflow: auto;
  outline: none;
  /* padding: 20px; */
  margin: auto;
  max-height: 60vh;
  width: 60%; 
  text-align: center;
  justify-content: center;
}

.thankyou-photo {
  width: 48%;
  margin: 0 auto;
}

.home-modal-wrapper {
  max-height: 80vh;
  width: 50%;
  font-weight: bold;

}

.modal-text {
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.modal-text p {
  padding: 3px;
}

.modal-text ul {
  margin: 0 auto;
  padding: 0px;
}

.email {
  list-style: none;
}

@media (max-width: 415px) {
  .about-section {
    justify-content: center;
    text-align: center;
  }
  
  .about p {
    padding: 0px;
  }

  #xo {
    text-align: center;
  }

  .products {
    padding: 0;
  }
  .products li {
    align-items: center;
    justify-content: center;
  }

  .product a {
    margin: 0;
    padding: 0;
  }

  .product img {
    width: 100%;
  }

  .product-details img { 
    /* width: 75%; */
    height: 35vh;
  }

  button.select-size {
    padding: 1px;
    border: 0.1rem #888888 solid;
  }

  button.size-button {
    font-size: smaller;
  }

  .product-price div,
  .product-price button {
    width: 100%;
  }
  .product-price button {
    max-width: 60%;
  }
  .product-modal {
    max-width: 100%;
    height: 83vh;
    padding: 10px;
  }

  .checkout-modal-wrapper {
    max-height: 75vh;
    width: 85%;
    margin-left: -10px;
  }

  .thankyou-photo {
    width: 100%;
    max-height: 25vh;
  }

  .home-modal-wrapper {
    width: 90%;
    max-height: 95vh;
    margin-left: -20px;
  }

  .modal-text {
    padding-top: 10px;
  }
}

@media (max-width: 850px) {
  .product-modal {
    max-width: 98%;
  }
  .checkout-wrapper-modal {
    width: 98%;
    max-height: 50vh;
  }
}

